@font-face {
    font-family: suisse;
    src: url(./resources/SuisseIntl-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: suisse;
    src: url(./resources/SuisseIntl-Regular.ttf);
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: suisse;
    font-weight: 100;
    color: #F3F3F3;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100vw;
}

.c-scrollbar_thumb {
    background-color: #F3F3F3;
    width: 5px;
    opacity: 1;
}

.columns {
    background: black;
    padding: 0 .45rem;
    height: 100%;
    /* width: 10%; */
}

.innerColumn {
    height: 100%;
    width: 100%;
    /* background: rgb(116, 109, 109); */
    border-left: 1px dashed hsla(0, 0%, 100%, .07);
    border-right: 1px dashed hsla(0, 0%, 100%, .07);
}

.navContainer {
    /* border-bottom: .5px solid rgba(255, 255, 255, 0.5); */
}

.humana {
    max-width: 100%;

}

.humana>h2>svg {
    height: 100%;
    width: 100%;
}

/* .page1Bottom{
  border-bottom: .5px solid rgba(255, 255, 255, 0.349);
} */
.page2Links p {
    font-weight: 300;
}

.innerLine {
    width: 100%;
    background: rgba(255, 255, 255, 0.349);
    animation: width 3s ease 1s;
}

.page3::-webkit-scrollbar {
    display: none;
}
#page6ColWrapper {
    /* transition: transform 2s ease; */
    transition: all 5s cubic-bezier(0.19, 1, 0.22, 1);
    /* transform: translateY(0); */
}
.page6ImgWrapper{
    transition: transform 1s ease;
    /* transform: translateY(10%); */
}
/* #page6ColWrapper:hover .page6ImgWrapper{
    transform: translateY(0);

} */


main::-webkit-scrollbar{
    z-index: 999;
}

@keyframes width {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}